# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.tmp
*.temp
